In [6]:
import os
import pandas as pd

path = 'data'

In [8]:
genome_scores = pd.read_csv(os.path.join(path, 'genome-scores.csv'))
genome_tags = pd.read_csv(os.path.join(path,'genome-tags.csv'))
links = pd.read_csv(os.path.join(path,'links.csv'))
movies = pd.read_csv(os.path.join(path,'movies.csv'))
ratings = pd.read_csv(os.path.join(path,'ratings.csv'))
tags = pd.read_csv(os.path.join(path,'tags.csv'))

In [23]:
genome_scores

          movieId  tagId  relevance
0               1      1    0.02900
1               1      2    0.02375
2               1      3    0.05425
3               1      4    0.06875
4               1      5    0.16000
5               1      6    0.19525
6               1      7    0.07600
7               1      8    0.25200
8               1      9    0.22750
9               1     10    0.02400
10              1     11    0.58700
11              1     12    0.09425
12              1     13    0.17800
13              1     14    0.00700
14              1     15    0.03525
15              1     16    0.21450
16              1     17    0.01350
17              1     18    0.09725
18              1     19    0.66825
19              1     20    0.25725
20              1     21    0.35725
21              1     22    0.30225
22              1     23    0.04975
23              1     24    0.01300
24              1     25    0.07475
25              1     26    0.07050
26              1     27    0.13050
27              1     28    0.10525
28              1     29    0.90700
29              1     30    0.60850
...           ...    ...        ...
14862498   187595   1099    0.01425
14862499   187595   1100    0.16875
14862500   187595   1101    0.31500
14862501   187595   1102    0.09000
14862502   187595   1103    0.02825
14862503   187595   1104    0.21000
14862504   187595   1105    0.21550
14862505   187595   1106    0.03650
14862506   187595   1107    0.05400
14862507   187595   1108    0.10075
14862508   187595   1109    0.18875
14862509   187595   1110    0.05825
14862510   187595   1111    0.02400
14862511   187595   1112    0.08275
14862512   187595   1113    0.03700
14862513   187595   1114    0.49700
14862514   187595   1115    0.10400
14862515   187595   1116    0.29875
14862516   187595   1117    0.04000
14862517   187595   1118    0.05750
14862518   187595   1119    0.12250
14862519   187595   1120    0.05325
14862520   187595   1121    0.04200
14862521   187595   1122    0.03725
14862522   187595   1123    0.20475
14862523   187595   1124    0.10700
14862524   187595   1125    0.05850
14862525   187595   1126    0.03800
14862526   187595   1127    0.10225
14862527   187595   1128    0.02925

[14862528 rows x 3 columns]

In [10]:
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [11]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [12]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [15]:
tags

         userId  movieId                               tag   timestamp
0            14      110                              epic  1443148538
1            14      110                          Medieval  1443148532
2            14      260                            sci-fi  1442169410
3            14      260                      space action  1442169421
4            14      318                      imdb top 250  1442615195
5            14      318                           justice  1442615192
6            14      480                         Dinosaurs  1443148563
7            14      593                    psychothriller  1444014286
8            14     1682                        philosophy  1442615158
9            14     1682                      surveillance  1442615167
10           14     7458                              Epic  1443148675
11           14    95311                             Pixar  1443148494
12           14   117529                         dinosaurs  1443148646
13           27      260                    classic sci-fi  1440448113
14           27      260                     Harrison Ford  1440448123
15           27      260                          must see  1440448132
16           27      260                            sci-fi  1440448094
17           42    37733                     disappointing  1264106059
18           42    37733                         overrated  1264106052
19           42    37733                            stupid  1264106067
20           56      141                            cliche  1381497460
21           56     2028                        disturbing  1274837927
22           56     2028                           history  1274837934
23           56     2028                  Steven Spielberg  1274837939
24           56     2966                          brothers  1301301874
25           56     2966                       David Lynch  1301301878
26           56     2966                        lawn mower  1301301883
27           56     2966                         melodrama  1301301885
28           56     2966                        obstinance  1301301890
29           56     4873                       metaphysics  1300693593
...         ...      ...                               ...         ...
1108967  283206    68358  black holes don't work like that  1264380045
1108968  283206    68358                         enjoyable  1264380046
1108969  283206    68358                               fun  1264380046
1108970  283206    68358                      good casting  1264380046
1108971  283206    68358                       lense flare  1264380046
1108972  283206    68554                         dan brown  1264377927
1108973  283206    68554                     ewan mcgregor  1264377927
1108974  283206    70599                    book is better  1264378301
1108975  283206    70599                         eric bana  1264378301
1108976  283206    70599                    rachel mcadams  1264378301
1108977  283206    71106                       fizzles out  1264378866
1108978  283206    71106                        friendship  1264378866
1108979  283206    71106                             funny  1264378866
1108980  283206    71106                      inconsistent  1264378866
1108981  283206    71106                       time travel  1264378866
1108982  283206    71106                      weird pacing  1264378866
1108983  283206    72407                        bad acting  1264379384
1108984  283206    72407                           bad cgi  1264379384
1108985  283206    72407                   kristen stewart  1264379384
1108986  283206    72407              sexism and stupidity  1264379384
1108987  283206    72407           vampires do not sparkle  1264379384
1108988  283206    72998                           effects  1264377897
1108989  283206    72998                       race issues  1264377897
1108990  283206    73017                          costumes  1264379058
1108991  283206    73017                          dialogue  1264379058
1108992  283206    73017                               fun  1264379059
1108993  283206    73017                homoerotic subtext  1264379058
1108994  283206    73017                            pacing  1264379058
1108995  283206    73017                              plot  1264379058
1108996  283221    49651                Sylvester Stallone  1168346830

[1108997 rows x 4 columns]